*{
  padding: 0px;
  margin: 0px;
}
.container{
  padding: 10px;
  margin: 10px;
}

.button{
  color: aliceblue;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 30px;
  cursor: pointer;
}

.heading{
  color: yellowgreen;
}